.form-wrapper {
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
form div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form h1 {
  font-size: 32px;
  margin-bottom: 40px;
  padding: 10px;
  color: black;
  background-color: #ddde1a;
  -webkit-box-shadow: 7px 8px 11px 5px white;
  -moz-box-shadow: 7px 8px 11px 5px white;
  box-shadow: 7px 8px 11px 5px white;
}
.form-link {
  font-size: 32px;
  margin-bottom: 40px;
  padding: 10px;
  color: black;
  background-color: #ddde1a;
  -webkit-box-shadow: 7px 8px 11px 5px white;
  -moz-box-shadow: 7px 8px 11px 5px white;
  box-shadow: 7px 8px 11px 5px white;
  text-align: center;
}
.error-message {
  color: red;
  font-size: 22px;
}
