.char-presentation {
  /* background-color: red; */
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  align-items: center;
}
.char-presentation h1 {
  font-size: 32px;
  margin-bottom: 40px;
  padding: 10px;
  color: black;
  background-color: #ddde1a;
  -webkit-box-shadow: 7px 8px 11px 5px white;
  -moz-box-shadow: 7px 8px 11px 5px white;
  box-shadow: 7px 8px 11px 5px white;
}
.char-presentation img {
  height: 600px;
  -webkit-box-shadow: 7px 8px 11px 5px white;
  -moz-box-shadow: 7px 8px 11px 5px white;
  box-shadow: 7px 8px 11px 5px white;
  margin-bottom: 30px;
}
.char-presentation h2 {
  font-size: 24px;
  margin-top: 30px;
  padding: 10px;
  color: black;
  background-color: #ddde1a;
  -webkit-box-shadow: 7px 8px 11px 5px white;
  -moz-box-shadow: 7px 8px 11px 5px white;
  box-shadow: 7px 8px 11px 5px white;
}
.carrousel-comics {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  width: 1500px;
  overflow: scroll;
}
.test {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: 800px;
  width: 400px;
}
.test h3 {
  font-size: 20px;
}
.test img {
  height: 600px;
  width: 400px;
  object-fit: cover;
}
.test p {
  font-style: italic;
  color: gray;
}
